
.header-modal{
    background-color: #d8e1d7;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-close-button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 30px;
    cursor: pointer;
    margin-left: 550px;
}

.custom-close-button:hover {
    color: #ff0000; /* Màu khi di chuột qua nút đóng */
}
