.sidebar-item {
    border: 1px solid var(--color-border);
    border-bottom: 0;
    font-size: 15px;
}

.sidebar-item .list-group-item {
    border-width: 0 0 1px;
    border-radius: 0;
    color: var(--color-text);
}

.sidebar-item .list-group-item:hover {
    background-color: #f6f8f8;
}

.sidebar-item .list-group-item .badge {
    background-color: #edf1f2;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 50px;
}

.sidebar-item .list-group-item .popular-rank {
    display: block;
    font-weight: bolder;
    color: var(--color-main);
    float: left;
    font-size: 75%;
    padding: 0 8px;
    line-height: 1.3em;
    border-radius: 3px;
    background-color: #dde6e9;
}

.sidebar-item .list-group-item img {
    border-radius: 8px;
    min-width: 40px !important;
    height: 40px;
}

.popular-title {
    color: #555;
    font-size: 14px;
    display: block;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5em;
}

.popular-price {
    font-size: 14px;
    color: #6d7980;
}