.product-details {
    color: #333333;
}

/* [ Detail Left ]
--------------------------------*/

.detail-slider {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid var(--color-border);
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.detail-slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all .6s;
    overflow: hidden;
}

.detail-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-left .slide-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 8;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    transition: all ease .15s;
    color: #989898;
    top: 33%;
}

.detail-left .slide-arrow:hover {
    color: #989898;
}

.detail-left .slide-arrow i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.detail-left .slide-arrow:active {
    transform: scale(1.1);
}

.detail-left .slide-arrow:first-of-type {
    left: 5%;
}

.detail-left .btn-next:last-of-type {
    right: 5%;
}

.slider-thumbnails > div {
    margin-right: 15px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid var(--color-border);
    transition: all .3s;
}

.slider-thumbnails > div:last-child {
    margin-right: 0;
}

.slider-thumbnails > div.active {
    border: 1px solid var(--color-main);
}

/* [ Detail Center ]
--------------------------------*/

.detail-center h6 {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.3em;
    color: inherit;
    margin-bottom: 8px;
}

.detail-center h6 span {
    color: #cf131f;
}

.detail-center-stats > span:first-of-type {
    font-size: 14px;
    margin-right: 45px;
}

.detail-center-stats > span:nth-last-child(-n+2) i {
    color: #8c8c8c;
    margin-right: 4px;
}

.detail-center-stats > span:nth-last-child(-n+2) {
    font-size: 15px;
    font-weight: bolder;
}

.detail-center-stats > span:nth-of-type(2) {
    margin-right: 25px;
}

.detail-center-des {
    font-size: 15px;
    line-height: 1.5em;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 12px 0;
    margin: 8px 0 18px 0;
}

.detail-center-info > div {
    line-height: 1.6em;
    font-size: 15px;
}

.detail-center-info > div span {
    display: inline-block;
    width: 30%;
    color: #acacac;
    margin-right: 15px;
}

/* [ Detail Right ]
--------------------------------*/

.detail-right-offer {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 25px 20px;
}

.detail-right-offer h6 {
    color: inherit;
    font-weight: bolder;
    font-size: 15px;
}

.offer-price {
    display: block;
    font-size: 30px;
    color: #cf131f;
    font-weight: bold;
}

.offer-download {
    width: 100%;
    position: relative;
    display: block;
    background-color: #E3E3E3;
    color: #fff;
    text-decoration: none;
    padding: 17px 0 12px 0;
    margin: 15px 0 20px 0;
    border: 0;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #7ec72f, #7ec72f);
    box-shadow: 0 4px 0 #5d941f, 0 6px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.offer-download:hover {
    top: 1px;
    background-color: #D3D3D3;
    box-shadow: 0 4px 0 0 #5d941f, 0 5px 3px rgba(0, 0, 0, 0.1);
}

.offer-favorite {
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 8px 24px;
    color: #7c7c7c;
    transition: all ease .3s;
    margin-bottom: 20px;
}

.offer-favorite:hover {
    background-color: #fcfcfc;
    color: var(--color-main);
}

.offer-favorite ~ span {
    display: block;
    font-size: 15px;
}

.offer-favorite ~ span span {
    font-weight: bolder;
}

.offer-favorite ~ span ~ div {
    margin-top: 15px;
}

.offer-favorite ~ span ~ div > div {
    font-size: 14px;
    margin-top: 5px;
}

.offer-favorite ~ span ~ div > span {
    display: block;
    background-color: #1877f2;
    color: #fff;
    border-radius: 4px;
    width: 70px;
    padding: 2px 0;
    font-size: 14px;
    cursor: pointer;
}

.offer-favorite ~ span ~ div > span:first-child {
    margin-right: 8px;
}

/* [ Detail Description ]
--------------------------------*/

.detail-divider {
    position: relative;
    margin-bottom: 20px;
    clear: both;
}

.detail-divider:after {
    clear: both;
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: #bbbbbb;
}

.detail-divider span {
    clear: both;
    font-weight: bolder;
    color: var(--color-main);
    font-size: 20px;
    border-bottom: 3px solid var(--color-main);
    padding: 5px 0;
}

/* [ Detail Comment ]
--------------------------------*/

.detail-comment textarea {
    width: 100%;
    font-size: 15px;
    height: 100px;
    padding: 12px;
    border-radius: 5px;
    border-color: var(--color-border);
}

.detail-comment input {
    border: 1px solid var(--color-border);
    padding: 24px 12px 8px 12px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
    width: 250px;
}

.detail-comment > div button {
    float: right;
    border: none;
    background-color: #ff921d;
    color: #fff;
    padding: 16px 12px;
    font-weight: bolder;
    width: 200px;
    border-radius: 5px;
}

.detail-comment .input-box {
    position: relative;
    float: left;
}

.detail-comment label {
    position: absolute;
    left: 12px;
    top: 5px;
    font-size: 12px;
    color: #7c7c7c;
}

.detail-comment label span {
    color: #c52020;
}

/* [ Detail Rating ]
--------------------------------*/

.detail-rating {
    font-size: 15px;
}

.rating-average {
    font-size: 50px;
    font-weight: bold;
}

.rating-average span {
    font-size: 16px;
    font-weight: normal;
}

.detail-rating > div:first-child .product-item-stars {
    font-size: 28px;
    width: fit-content;
    background-color: #fafafa;
    border-radius: 20px;
    padding: 0 24px;
    margin: auto auto 12px;
}

.detail-rating .rating-count {
    font-size: 15px;
}

.rating-chart > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.rating-chart > div:last-child {
    margin-bottom: 0;
}

.rating-chart > div > div:nth-child(1) {
    display: flex;
    align-items: center;
}

.rating-chart > div > div:nth-child(1) i {
    font-size: 14px;
    margin-left: 6px;
}

.rating-chart > div > div:nth-child(2) {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    margin: 0 16px;
    background-color: #eeeeee;
}

.rating-chart > div > div:nth-child(2) > div {
    width: 50%;
    height: 18px;
    border-radius: 12px;
    background-color: #FEC107;
}

.rating-action button {
    border: none;
    padding: 10px 72px;
    background-color: #2f80ed;
    color: #fff;
    border-radius: 4px;
}

.detail-rating-comment > div {
    border-top: 1px solid #e7e7e7;
    padding: 15px 0;
}

.detail-rating-comment > div:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.detail-rating-comment .product-item-stars i {
    font-size: 14px;
    color: #f9a930;
}

.detail-rating-comment > div > div:first-child {
    font-weight: bolder;
}

.detail-rating-comment > div > div:first-child span {
    display: inline-block;
    margin-left: 8px;
    font-size: 13px;
    font-weight: normal;
    color: #2ba832;
}

.detail-rating-comment > div > div:first-child span:last-child {
    position: relative;
    color: #999999;
    margin-left: 14px;
}

.detail-rating-comment > div > div:first-child span:last-child:before {
    content: '';
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #999999;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.detail-rating-comment > div > div:last-child {
    margin-top: 5px;
}