.sidebar-item {
    border: 1px solid var(--color-border);
    border-bottom: 0;
    font-size: 15px;
}

.sidebar-item .list-group-item {
    border-width: 0 0 1px;
    border-radius: 0;
    color: var(--color-text);
}

.sidebar-item .list-group-item:hover {
    background-color: #f6f8f8;
}

.sidebar-item .list-group-item .badge {
    background-color: #edf1f2;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 50px;
}

.sidebar-item .list-group-item .popular-rank {
    display: block;
    font-weight: bolder;
    color: #545454;
    float: left;
    font-size: 75%;
    padding: 0 8px;
    line-height: 1.3em;
    border-radius: 3px;
    background-color: #dde6e9;
}

.sidebar-item .list-group-item img {
    border-radius: 8px;
    min-width: 40px !important;
    height: 40px;
}

.popular-title {
    color: #555;
    font-size: 14px;
    display: block;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5em;
    text-overflow: ellipsis;
}

.filters {
    color: #343434;
}

.filter-found h6 {
    color: #343434;
}

.filter-sort li,
.filter-layout span {
    display: inline-block;
    margin-left: 8px;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    cursor: pointer;
    transition: ease all .1s;
    font-size: 15px;
    user-select: none;
}

.filter-sort li:hover,
.filter-layout span:hover {
    background-color: var(--color-main);
    color: white;
    border-color: var(--color-main);
}

.filter-sort li {
    padding: 3px 12px;
}

.filter-layout span {
    padding: 7px;
}

.filter-layout span:first-child {
    margin-left: 0;
}

.filter-active {
    background-color: var(--color-main);
    color: white;
    border-color: var(--color-main) !important;
}

/* [ Product Item ]
--------------------------------*/

.product-item {
    border: 1px solid #dee5e7;
    border-radius: 2px;
    margin-bottom: 30px;
}

.product-item-img {
    cursor: pointer;
}

.product-item-img img {
    width: 100%;
    max-height: 160px;
}

.product-item-stats {
    padding: 10px;
}

.product-item-stats > div {
    width: 50%;
    background-color: var(--color-main);
    padding: 2px 12px;
    font-size: 14px;
    color: white;
}

.product-item-stats > div > i {
    color: #537503;
    margin-right: 22px;
}

.product-item-stats div:first-child {
    margin-right: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.product-item-stats div:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-item-stats div:last-child i {
    position: relative;
    top: 1px;
}

.product-item .product-item-title {
    padding: 0 10px;
    width: 100%;
    height: 50px;
}

.product-item .product-item-title a {
    font-size: 15px;
    font-weight: 700;
    color: #263038;
    cursor: pointer;
}

.product-item .product-item-title .title-wrapper {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-item-actions {
    padding: 10px;
    border-bottom: 1px solid #dee5e7;
}

.product-item-action {
    display: table;
    color: #58666e !important;
    background-color: #fff;
    width: 32px;
    height: 32px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #dee5e7;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(90, 90, 90, .1);
}

.product-item-action i {
    display: table-cell;
    vertical-align: middle;
}

.product-item-action:hover {
    background-color: #edf1f2;
}

.product-item-stars {
    font-size: 18px;
}

.product-item-stars i {
    color: #f8d425;
    margin-right: 4px;
}

.product-item-stars i:last-child {
    margin-right: 0;
}

.product-item .product-item-bottom {
    padding: 10px;
    font-size: 14px;
    color: #3b4549 !important;
}

.product-item-brand {
    cursor: pointer;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-item-brand i {
    font-size: 20px;
    margin-right: 6px;
    color: #3c4c59;
}

.product-item .product-item-price {
    padding: 1px 6px;
    text-align: center;
    font-weight: 600;
    border: 1px solid #dee5e7;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(90, 90, 90, .1);
}

.product-item .product-item-price:hover {
    background-color: #edf1f2;
}

/* [ Product Item Row ]
--------------------------------*/

.product-item-row {
    border: 1px solid #dee5e7;
    border-radius: 2px;
    margin-bottom: 30px;
}

.product-item-row-content > * {
    display: block;
}

.product-item-row-content {
    padding: 10px;
}

.product-item-row-title {
    font-size: 18px;
    font-weight: 700;
    color: #2c3944 !important;
    cursor: pointer;
}

.product-item-row-title:hover {
    color: #1c252c !important;
}

.product-item-row .product-item-brand {
    font-size: 14px;
    color: #50595d;
}

.product-item-row-content .product-item-stars i {
    font-size: 16px;
}

.product-item-row-price {
    color: #27c24c;
    border-radius: 2px;
    padding: 8px 12px;
    border: 1px solid #27c24c;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.product-item-row-price:hover {
    color: #1f9a3d;
}

.product-item-row-description {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 1.4em;
}

.product-item-row-content .product-item-stats {
    padding-left: 0;
}

.product-item-row-content .product-item-stats div {
    width: 70px;
    padding: 2px 10px;
}

.product-item-row-content .product-item-stats div i {
    margin-right: 5px;
}

/* [ Pagination ]
--------------------------------*/

.product-pagination li {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #d2d2d2;
    border-radius: 1px;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-right: 16px;
    transition: all, 0.3s;
    cursor: pointer;
    user-select: none;
}

.product-pagination li.active,
.product-pagination li:hover {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}

.product-pagination li:last-child {
    margin-right: 0;
}